In [1]:
#!pip install langdetect

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string
from collections import Counter
from bs4 import BeautifulSoup
import seaborn as sns
from langdetect import DetectorFactory, detect


import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer


nltk.download('stopwords')
nltk.download('punkt')

%matplotlib inline

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/saharawaji/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/saharawaji/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
wn = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

In [4]:
df_twcs = pd.read_csv("/Users/saharawaji/Documents/GitHub/Research/twcs 2.csv", on_bad_lines='skip')
df_twcs

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN

In [5]:
column_names = df_twcs.columns
print(column_names)

Index(['tweet_id', 'author_id', 'inbound', 'created_at', 'text',
       'response_tweet_id', 'in_response_to_tweet_id'],
      dtype='object')

### Exploratory Data Analysis (EDA)

In [6]:
# Display basic information about the dataset
print(df_twcs.info())

# Get summary statistics of numerical columns
print(df_twcs.describe())

# Check the first few rows of the dataset
print(df_twcs.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811774 entries, 0 to 2811773
Data columns (total 7 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tweet_id                 int64
 1   author_id                object
 2   inbound                  bool
 3   created_at               object
 4   text                     object
 5   response_tweet_id        object
 6   in_response_to_tweet_id  float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 131.4+ MB
None
           tweet_id  in_response_to_tweet_id
count  2.811774e+06             2.017439e+06
mean   1.504565e+06             1.463141e+06
std    8.616450e+05             8.665730e+05
min    1.000000e+00             1.000000e+00
25%    7.601652e+05             7.155105e+05
50%    1.507772e+06             1.439805e+06
75%    2.253296e+06             2.220646e+06
max    2.987950e+06             2.987950e+06
   tweet_id   author_id  inbound                      created_at  \
0         1  sprintcare    False  Tue Oct 31 22:10:47 +0000 2017
1         2      115712     True  Tue Oct 31 22:11:45 +0000 2017
2         3      115712     True  Tue Oct 31 22:08:27 +0000 2017
3         4  sprintcare    False  Tue Oct 31 21:54:49 +0000 2017
4         5      115712     True  Tue Oct 31 21:49:35 +0000 2017

                                                text response_tweet_id  \
0  @115712 I understand. I would like to assist y...                 2
1      @sprintcare and how do you propose we do that               NaN
2  @sprintcare I have sent several private messag...                 1
3  @115712 Please send us a Private Message so th...                 3
4                                 @sprintcare I did.                 4

   in_response_to_tweet_id
0                      3.0
1                      1.0
2                      4.0
3                      5.0
4                      6.0

### Handling Missing Data:

In [7]:
# Drop rows with missing values (use with caution)
df_twcs.dropna(inplace=True)

In [8]:
# Impute missing values in the 'tweet_id' column with the mean
df_twcs['tweet_id'].fillna(df_twcs['tweet_id'].mean(), inplace=True)

In [9]:
# Count the number of missing values in each column
missing_values_count = df_twcs.isna().sum()

# Alternatively, you can use isnull() instead of isna()
# missing_values_count = df_twcs.isnull().sum()

# Display the count of missing values for each column
print(missing_values_count)

tweet_id                   0
author_id                  0
inbound                    0
created_at                 0
text                       0
response_tweet_id          0
in_response_to_tweet_id    0
dtype: int64

In [10]:
df_twcs

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
5,6,sprintcare,False,Tue Oct 31 21:46:24 +0000 2017,@115712 Can you please send us a private messa...,"5,7",8.0
...,...,...,...,...,...,...,...
2811718,2987897,VirginTrains,False,Wed Nov 22 06:57:43 +0000 2017,"@136417 Sorry to hear that James, did the the ...",2987898,2987899.0
2811728,2987907,nationalrailenq,False,Thu Nov 30 07:38:44 +0000 2017,London bound trains on the route between Broml...,2987906,2987908.0
2811736,2987915,CoxHelp,False,Thu Nov 30 07:27:11 +0000 2017,"@823858 Hello, this does not sound good. Can...",2987916,2987917.0
2811739,2987918,ArgosHelpers,False,Thu Nov 30 07:58:42 +0000 2017,@823859 Hi Natalie that doesn't sound good. Ca...,2987919,2987920.0
2811760,2811285,Safaricom_Care,False,Wed Nov 22 07:13:34 +0000 2017,"@783956 Hi, apologies for the inconvenience. T...",2987940,2811283.0

In [11]:
X = 2811774 - 976810

X

1834964

### Text Preprocessing:

In [12]:


# Tokenization
df_twcs['text'] = df_twcs['text'].apply(lambda x: word_tokenize(x.lower()))

# Stop word removal
stop_words = set(stopwords.words('english'))
df_twcs['text'] = df_twcs['text'].apply(lambda x: [word for word in x if word not in stop_words])

# Stemming (or Lemmatization)
stemmer = PorterStemmer()

df_twcs['text'] = df_twcs['text'].apply(lambda tokens: [word.lower() for word in tokens])

In [13]:
df_twcs['text']

0          [@, 115712, understand, ., would, like, assist...
2          [@, sprintcare, sent, several, private, messag...
3          [@, 115712, please, send, us, private, message...
4                                         [@, sprintcare, .]
5          [@, 115712, please, send, us, private, message...
                                 ...
2811718    [@, 136417, sorry, hear, james, ,, staff, made...
2811728    [london, bound, trains, route, bromley, south,...
2811736    [@, 823858, hello, ,, sound, good, ., dm, acco...
2811739    [@, 823859, hi, natalie, n't, sound, good, ., ...
2811760    [@, 783956, hi, ,, apologies, inconvenience, ....
Name: text, Length: 976810, dtype: object

# Feature Engineering:

1. Text Features:
2. Temporal Features:
3. Categorical Features:
4. Text-Based Features (NLP):
5. Interaction Features:
6. Domain-Specific Features:
7. Feature Scaling:
8. Feature Selection:

In [14]:
# 1. Text Features:
# A. Text Length: Create a feature that represents the length of the text in characters or words.
df_twcs['text_length'] = df_twcs['text'].apply(len)
print(df_twcs['text_length'])

# B. Word Count: Count the number of words in each text.
#df_twcs['word_count'] = df_twcs['text'].apply(lambda x: len(x.split()))
# Count the number of words in each text (assuming 'text' is a list of tokens)
df_twcs['word_count'] = df_twcs['text'].apply(lambda tokens: len(tokens))

print(df_twcs['word_count'])

# C. Presence of Keywords: Create binary features indicating the presence of specific keywords in the text.
keywords = ['important', 'urgent', 'help']
for keyword in keywords:
    df_twcs[keyword + '_present'] = df_twcs['text'].apply(lambda x: 1 if keyword in x else 0)

0          16
2           9
3          16
4           3
5          12
           ..
2811718    15
2811728    25
2811736    19
2811739    17
2811760    15
Name: text_length, Length: 976810, dtype: int64
0          16
2           9
3          16
4           3
5          12
           ..
2811718    15
2811728    25
2811736    19
2811739    17
2811760    15
Name: word_count, Length: 976810, dtype: int64

In [18]:
#2. Features of Temporal Order:

# A. Extracting Date and Time: Parse 'created_at' if it is in a string format to extract relevant temporal information such as month, day, hour, and so on.

#df_twcs['created_at'] = pd.to_datetime(df_twcs['created_at'])
df_twcs['created_at'] = pd.to_datetime(df_twcs['created_at'], utc=True)


df_twcs['year'] = df_twcs['created_at'].dt.year
df_twcs['month'] = df_twcs['created_at'].dt.month

# B. Time Since Tweet: Calculate the time elapsed since a tweet was posted relative to a reference date.
#reference_date = pd.Timestamp('2024-01-31')
reference_date = pd.Timestamp('2024-01-31', tz='UTC')


#df_twcs['time_since_posted'] = (reference_date - df_twcs['created_at']).dt.total_seconds()
#df_twcs['time_since_posted'] = (reference_date - df_twcs['created_at']).dt.total_seconds()
df_twcs['time_since_posted'] = (reference_date - df_twcs['created_at']).dt.total_seconds()

In [ ]:
# 3. Categorical Features:
# Encoding Categorical Variables: Convert categorical variables like 'author_id' into numerical values using techniques like one-hot encoding or label encoding.


df_twcs = pd.get_dummies(df_twcs, columns=['author_id'], prefix='author')

In [ ]:
# 4. Text-Based Features (NLP):
# A. TF-IDF: Compute TF-IDF scores for words in the text to represent their importance.

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(max_features=1000)
tfidf_matrix = tfidf_vectorizer.fit_transform(df_twcs['text'])

# B. Word Embeddings: Use pre-trained word embeddings (e.g., Word2Vec, GloVe) to convert text into dense vectors.

# Load pre-trained Word2Vec model
word2vec_model = Word2Vec.load('word2vec.model')

def text_to_embedding(text):
    words = text.split()
    vectors = [word2vec_model[word] for word in words if word in word2vec_model]
    return np.mean(vectors, axis=0) if vectors else np.zeros(word2vec_model.vector_size)

df_twcs['text_embedding'] = df_twcs['text'].apply(text_to_embedding)

In [ ]:
# 5. Interaction Features:
# Create interaction features by combining existing features.

df_twcs['text_length_word_count_ratio'] = df_twcs['text_length'] / df_twcs['word_count']

In [ ]:
# 6. Domain-Specific Features:

# If you have domain-specific knowledge, create features that are relevant to your specific problem.

In [ ]:
#7. Feature Scaling:

# Normalize or scale numerical features if needed using techniques like Min-Max scaling or Standardization.

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_twcs[['text_length', 'word_count']] = scaler.fit_transform(df_twcs[['text_length', 'word_count']])

In [ ]:
# 8. Feature Selection:

# Perform feature selection techniques (e.g., Recursive Feature Elimination, feature importance from tree-based models) to choose the most relevant features for your model.

In [13]:
inbound_chat = df_twcs[df_twcs.inbound]

inbound_chat

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
6,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN
8,12,115713,True,Tue Oct 31 22:04:47 +0000 2017,@sprintcare You gonna magically change your co...,"11,13,14",15.0
...,...,...,...,...,...,...,...
2811765,2987944,823868,True,Wed Nov 22 07:43:36 +0000 2017,@AirAsiaSupport \n\nI am unable to do web chec...,2987943,NaN
2811768,2987946,524544,True,Wed Nov 22 08:25:48 +0000 2017,@VirginTrains Hope you are well? Does the 9.30...,2987945,NaN
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN

In [14]:
df_in_outs = pd.merge(inbound_chat, df_twcs, left_on='tweet_id', 
                                  right_on='in_response_to_tweet_id')

df_in_outs

,tweet_id_x,author_id_x,inbound_x,created_at_x,text_x,response_tweet_id_x,in_response_to_tweet_id_x,tweet_id_y,author_id_y,inbound_y,created_at_y,text_y,response_tweet_id_y,in_response_to_tweet_id_y
0,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
2,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN,6,sprintcare,False,Tue Oct 31 21:46:24 +0000 2017,@115712 Can you please send us a private messa...,"5,7",8.0
3,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN,9,sprintcare,False,Tue Oct 31 21:46:14 +0000 2017,@115712 I would love the chance to review the ...,NaN,8.0
4,8,115712,True,Tue Oct 31 21:45:10 +0000 2017,@sprintcare is the worst customer service,"9,6,10",NaN,10,sprintcare,False,Tue Oct 31 21:45:59 +0000 2017,@115712 Hello! We never like our customers to ...,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450330,2987942,823867,True,Wed Nov 22 07:30:39 +0000 2017,Hai @AirAsiaSupport #asking how many days need...,2987941,NaN,2987941,AirAsiaSupport,False,Wed Nov 22 07:55:05 +0000 2017,@823867 we have replied you via DM.Thanks-Emir,NaN,2987942.0
1450331,2987944,823868,True,Wed Nov 22 07:43:36 +0000 2017,@AirAsiaSupport \n\nI am unable to do web chec...,2987943,NaN,2987943,AirAsiaSupport,False,Wed Nov 22 07:54:57 +0000 2017,"@823868 Sorry but kindly try to clear browser,...",NaN,2987944.0
1450332,2987946,524544,True,Wed Nov 22 08:25:48 +0000 2017,@VirginTrains Hope you are well? Does the 9.30...,2987945,NaN,2987945,VirginTrains,False,Wed Nov 22 08:27:34 +0000 2017,@524544 That's a Peak service. The 09:56 is th...,NaN,2987946.0
1450333,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0
1450334,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0

In [15]:
class Preprocess_Dataset:
    def __init__(self, dataframe):
        self.df = dataframe
        self.last_id = 0
        self.conv = []
        self.company_name = ''
        self.df_convs = pd.DataFrame(columns=['author_id', 'company_name', 'dialog'])
        
    def add_to_df(self, last_id, author_id, company_name, text_x, text_y):
        if (last_id == author_id):
            self.conv.append('participant1|'+ " ".join(filter(lambda x:x[0]!='@', text_x.split())))
            self.conv.append('participant2|'+ " ".join(filter(lambda x:x[0]!='@', text_y.split())))
        elif self.last_id != 0:
            if len(self.conv) > 0:
                id = len(self.df_convs)
                self.df_convs.loc[id, 'author_id'] = self.last_id
                self.df_convs.loc[id, 'company_name'] = self.company_name
                self.df_convs.loc[id, 'dialog'] = self.conv
                self.conv = []
            self.last_id = author_id
            
        else:
            self.conv.append('participant1|'+ text_x)
            self.conv.append('participant2|'+ text_y)
            self.last_id = author_id
            self.company_name = company_name
    def create_df(self):
        [self.add_to_df(self.last_id, row[0], row[1], row[2], row[3]) for row in self.df[['author_id_x', 'author_id_y','text_x', 'text_y']].values]
        return self.df_convs

In [16]:
def clean_text(text):
    clean_text = []
    text = re.sub("''", "", text)
    text = " ".join(filter(lambda x:x[0]!='@', text.split())) # Remove the words starts with '@'
    text = re.sub("(\\d|\\W)+"," ", text)
    clean_text = [wn.lemmatize(word, pos="v") for word in word_tokenize(text.lower()) 
                  if (word not in stop_words and word not in list(string.punctuation))]
    return clean_text
    #return " ".join([word for word in clean_text])

In [17]:
def split_participants(conversation):
    part1_dialog = []
    part2_dialog = []
    conv_token = []
    for conv in conversation:
        dialog = conv.split('|')
        if dialog[0] == 'participant1':
            part1_dialog.append(dialog[1])
        else:
            part2_dialog.append(dialog[1])
            
    if (len(part1_dialog) > 0):
        part1_str = " ".join([word for word in part1_dialog])
        conv_token.append(clean_text(part1_str))
    if (len(part2_dialog) > 0):
        part2_str = " ".join([word for word in part2_dialog])
        conv_token.append(clean_text(part2_str))
    return conv_token